---
formatterOff: "@formatter:off"
title: 切换清单
subtitle: index
summary: index
categories: []
tags: []
date: 2021-08-25 10:56:42 +800
version: 1.0
formatterOn: "@formatter:on"
---
<div class="container-fluid">
    <div class="header text-center">
        <h3 class="title">XXX切换计划切换清单</h3>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card card-timeline card-plain">
                <div class="card-body">
                    <ul class="timeline">
                        <li :class=" index % 2 == 1 ? 'timeline-inverted' : ''" v-for="(task,index) in tasks">
                            <div class="timeline-badge primary">
                                <i class="material-icons" v-text="task.icon"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <span class="badge badge-pill badge-primary" v-text="task.title">Some Title</span>
                                </div>
                                <div class="timeline-body">
                                    <p v-text="task.description"></p>
                                    <hr>
                                </div>
                                <div class="timeline-footer text-right">
                                    <button type="button" class="btn btn-round btn-info" v-for="action in task.actions"
                                            v-text="action.label"
                                    >
                                        <i class="material-icons">build</i>
                                    </button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    Vue.createApp({
        data() {
            return {
                tasks: [{
                    icon: "card_travel",
                    title: "ESL服务配置",
                    description: "配置门店ESL服务，该服务用于电子价签基站、价签绑定与价签刷新，请确认服务提供商是否已提供ESL服务。",
                    actions: [{
                        label: "去配置",
                    }, {
                        label: "已完成"
                    }]
                }, {
                    icon: "extension",
                    title: "ESL基站配置与绑定",
                    description: "当ESL服务配置完成后，可进行基站绑定，请确认基站是否已正确接入ESL服务。",
                    actions: [{
                        label: "去配置",
                    }, {
                        label: "已完成"
                    }]
                }, {
                    icon: "extension",
                    title: "数据组装规则",
                    description: "配置价签数据组装规则，如是否启用库存。",
                    actions: [{
                        label: "跳过"
                    }, {
                        label: "去配置",
                    }, {
                        label: "已完成"
                    }]
                }, {
                    icon: "extension",
                    title: "配置布局、类型与模板",
                    description: "配置价签布局、类型与模板",
                    actions: [{
                        label: "跳过"
                    }, {
                        label: "去配置",
                    }, {
                        label: "已完成"
                    }]
                }, {
                    icon: "extension",
                    title: "电子价签定时全量任务",
                    description: "配置电子价签定时全量任务",
                    actions: [{
                        label: "跳过"
                    }, {
                        label: "去配置",
                    }, {
                        label: "已完成"
                    }]
                }, {
                    icon: "done_all",
                    title: "切换完成",
                    description: "",
                    actions: [{
                        label: "切换完成",
                    }]
                }]
            }
        },
        mounted() {

        },
        methods: {}
    })
        .mount('#app')
</script>