<nav class="navbar  fixed-top  navbar-expand-lg bg-primary" color-on-scroll="100">
    <div class="container-fluid" style="padding-right: 50px">
        <a class="navbar-brand font-weight-bold" href="/index.html">
            <div class="justify-content-center">
                <img class="me-2" src="https://static.ifinal.io/favicons/favicon.png" alt="" width="32" height="32">
                <span class="ml-2">{{ page.title }}</span>
            </div>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
        </button>
        <div class="navbar-nav-scroll ml-md-auto ">
            <ul class="navbar-nav bd-navbar-nav flex-row">
                <li class="nav-item">
                    <ul class="nav nav-tabs" data-tabs="tabs">
                        {% if fileType == 'html'%}
                        <li class="nav-item">
                            <a class="nav-link active " href="#preview" data-toggle="tab">
                                <i class="material-icons">view_carousel</i>预览
                            </a>
                        </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link {% if fileType == 'md'%} active {% endif %}" href="#article" data-toggle="tab">
                                <i class="material-icons">article</i>文档
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    {% include navbar/github-corner.html %}
</nav>
